.block{
    width: 70vh;
    height: 40vh;
}

.table {
    padding: 20px;
    text-align: center;
}
.title{
    text-align: center;
    padding: 2%;
    font-size: 30px;
}
.close{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.close button{
    width: 10%;
    background-color: rgb(107, 124, 130);
    color: white;
}

.blocked-button {
    background-color: green;
    color: white;
  }
  
  .unblocked-button {
    background-color: red;
    color: white;
  }