.block {
  width: 40vh;
  height: 37vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}
.content .input {
  width: 80%;
}
.name {
  font-size: 35px;
  padding-top: 40px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding: 1%;
}
.actions .close {
  width: 20%;
  background-color: rgb(107, 124, 130);
  color: white;
}
.actions .submit {
  width: 20%;
  background-color: rgb(45, 96, 192);
  color: white;
}
.book-title{
  font-size: 20px;
  padding: 20px;
}