<app-header></app-header>
<div class="background">
    <div class="content">
        <p class="title">My life in books</p>
        <div class="container">
            <div class="content1">
                <p class="numbers">{{statistics?.totalBooksInLibrary}}</p>
                <p class="text">Books in your library</p>
            </div>
            <div class="content3">
                <p class="numbers">{{statistics?.totalReviews}}</p>
                <p class="text">Written reviews</p>
            </div>
        </div>
        <div class="container">
            <div class="content2">
                <p class="numbers">{{statistics?.totalFinishedBooks}}</p>
                <p class="text">Books read</p>
            </div>
            <div class="content4">
                <p class="numbers">{{statistics?.totalPages}}</p>
                <p class="text">Pages read</p>
            </div>
        </div>
        <p class="name">{{statistics?.fullName}}</p>
        <img class="circular--square" src="https://dl.dropbox.com/s/x1gnrzsa6om2qjx/book-avatar.png"/> -->
    </div>
</div>
