.review-list {
  width: 100%;
  margin: 2% auto;
  padding: 1rem 1rem 0;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.stars {
  --s: 40px;
  width: calc(var(--n, 5) * var(--s));
  height: calc(var(--s) * 0.9);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  mask: calc();
  -webkit-mask: conic-gradient(
      from 54deg at calc(var(--s) * 0.68) calc(var(--s) * 0.57),
      var(--v1)
    ),
    conic-gradient(
      from 90deg at calc(var(--s) * 0.02) calc(var(--s) * 0.35),
      var(--v2)
    ),
    conic-gradient(
      from 126deg at calc(var(--s) * 0.5) calc(var(--s) * 0.7),
      var(--v1)
    ),
    conic-gradient(from 162deg at calc(var(--s) * 0.5) 0, var(--v2));
  mask-size: auto;
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude, add;
  background: linear-gradient(gold 0 0) 0 / calc(var(--l, 0) * var(--s)) 100%
    no-repeat #ccc;
}
.name{
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
.review{
  padding-top: 2%;
  font-size: 18px;
  font-family: "Tsukimi Rounded", sans-serif;
  font-weight: 600;
  line-height: 35px;
}
.title{
  padding: 2% 0;
  font-size: 30px;
  font-weight: 500;
}
.review-list button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-120%);
}
.add-review-button{
  width: 20%;
}