<div class="container">
    <div class="title">
        Account settings
    </div>
    <div class="row-name">
        <mat-form-field class="input">
            <mat-label>Firstname</mat-label>
            <input matInput matNativeControl type="text" matInput [formControl]="firstnameFormControl">
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Lastname</mat-label>
            <input matInput matNativeControl type="text" matInput [formControl]="lastnameFormControl">
        </mat-form-field>
        <button *ngIf="!nameFieldsStatus" mat-icon-button (click)="changeNameBoolean()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div *ngIf="nameFieldsStatus" class="row-name">
        <button mat-raised-button (click)="changeNameBoolean()">
            Close
        </button>
        <button mat-raised-button (click)="updateFullname()">
            Update fullname
        </button>
    </div>
    <div *ngIf="!passFieldsStatus" class="change-password">
        <button mat-raised-button (click)="changePassBoolean()">
            Change password
        </button>
    </div>
    <div class="row-name" *ngIf="passFieldsStatus">
        <mat-form-field class="input">
            <mat-label>New password</mat-label>
            <input matInput matNativeControl type="password" matInput [formControl]="passwordFormControl">
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Repeat new password</mat-label>
            <input matInput matNativeControl type="password" matInput [formControl]="repeatPasswordFormControl">
        </mat-form-field>
        
    </div>
    <div *ngIf="passFieldsStatus" class="row-name">
        <button mat-raised-button (click)="changePassBoolean()">
            Close
        </button>
        <button mat-raised-button (click)="updatePassword()">
            Update password
        </button>
    </div>

    <div class="close">
        <button mat-raised-button (click)="closeDialog()">
            Close
        </button>
    </div>

</div>