<div class = "block">
    <div class = "title">
      <label>Link table</label>
    </div>
  
    <div class="table">
  
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="book_title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by book title"> Book title </th>
          <!-- {{(element.book.title?.length>trunc)? (element.book.title | slice:0:trunc)+'...':(element.book.title)}}  -->
          <td mat-cell *matCellDef="let element" class="text"> {{element.book.title}} </td>
        </ng-container>
  
        <ng-container matColumnDef="pdf_key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pdf_key" > Pdf key </th>
          <td mat-cell *matCellDef="let element" class="text"><a href="{{element.pdf_key}}">Pdf file</a></td>
        </ng-container>
  
        <ng-container matColumnDef="audio_key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by audio_key" > Audio key </th>
          <td mat-cell *matCellDef="let element" class="text"> <a href="{{element.audio_key}}">Audio file</a> </td>
        </ng-container>
        <ng-container matColumnDef="photo_key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by photo_key" > Photo key </th>
            <td mat-cell *matCellDef="let element" class="text"> <a href="{{element.thumbnail_key}}">Photo file</a> </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="action">
                <button mat-raised-button (click)="updateLink(element)" class="update-button">Update</button> 
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
      <mat-paginator [pageSizeOptions]="[7]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

    <div class="close">
        <button mat-raised-button (click)="closeDialog()">Close</button>
    </div>

</div>